@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;700&display=swap');

body {
    font-family: 'Libre Franklin', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #EFF6F2;
}

li, a {
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #134D17;
    text-decoration: none;
}

header {
    display: flex;
    background-color: #FFFFFF;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    -webkit-box-shadow: 0px 4px 13px -6px #000000; 
    box-shadow: 0px 4px 13px -6px #000000;
}

.logo {
    cursor: pointer;
    width: 160px;
    height: auto;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: #3F9949;
}

h2 {
    font-size: 32px;
    font-weight: 400;
    line-height: 8px;
}

p {
    font-size: 20px;
}

.header {
    padding-top: 40px;
    width: 1100px;
    margin: 0 auto;
    display: block;
}

.back {
    display: inline-flex
}

.back img {
    width: 30px;
}

.back p {
    padding-left: 10px;
}

.title {
    line-height: 15px;
}

.title h1 {
    color: #134D17;
}

.title p {
    font-size: 20px;
}

.bio {
    display: flex;
}

.zoom-img {
    cursor: pointer;
}

.heroimg {
    padding: 20px 0;
    text-align: center;
}

.heroimg img {
    width: 1000px;
    border-radius: 20px;
    box-shadow: 0px 4px 13px -6px #000000;
}

.synopsis {
    width: 1100px;
    margin: 0 auto;
}

.lofi {
    width: 1100px;
    margin: 0 auto;
    padding-top: 20px;
}

.lofiwire {
    width: 1000px;
    border-radius: 20px;
    margin: 0 auto;
    display: flex;
}

.lofiwire img {
    margin: auto auto;
    width: 280px;
    height: auto;
    border-radius: 20px;
    border: 4px solid #134D17;
    box-shadow: 0px 4px 13px -6px #000000;
}

.hifi {
    width: 1100px;
    margin: 0 auto;
    padding-top: 20px;
}

.persona img {
    width: 400px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    margin: 20px 0;
    border: 4px solid #134D17;
    box-shadow: 0px 4px 13px -6px #000000;
}

.sitemap {
    padding-top: 20px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
}

.sitemap .desc {
    width: 534px;
    padding-left: 40px;
}

button {
    font-family: 'Libre Franklin', sans-serif;
    background-color: #3F9949;
    color: #FFFFFF;
    width: 150px;
    height: 45px;
    border-radius: 30px;
    border-style: none;
    font-size: 15px;
    -webkit-box-shadow: 0px 11px 15px -9px #000000; 
    box-shadow: 0px 11px 15px -9px #000000;
}

.puzzlepieces {
    position: fixed;
    width: 700px;
    transform: rotate(227deg);
    top: -9vh;
    left: -13vw;
    opacity: 50%;
    z-index: -1;
}

.puzzlepieces2 {
    position: fixed;
    width: 1100px;
    top: 13px;
    left: 65vw;
    transform: rotate(337deg);
    opacity: 50%;
    z-index: -1;
}

footer {
    position: relative;
    background-color: #134D17;
    bottom: 0;
    width: 80%;
    padding: 40px 10%;
    justify-content: center;
    align-items: center;
}

footer h3 {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 45px;
    font-weight: 700;
    color: #FFFFFF;
    width: 496px;
    margin-left: 190px;
    display: inline;
}

footer .line {
    border-top: 5px solid #FFFFFF;
    width: 90%;
}

footer .ftrmsg {
    height: 80%;
}

footer .jjlogo {
    height: 64px;
    float: right;
    width: auto;
    margin-right: 149px;
    margin-bottom: 10px;
}

footer .puzzle-logo {
    width: 121px;
    position: absolute;
    top: 63px;
    left: 12vw;
}

footer p {
    display: block;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    background-color: #134D17;
    margin-top: 150px;
}

footer h4 {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #FFFFFF;
    width: 530px;
    margin-left: 195px;
    position: absolute;
    top: 125px;
}

footer div {
    display: inline-flex;
    margin: 8px 70px;
    float: right;
}

footer .social-icons img {
    vertical-align: top;
    height: 30px;
    width: auto;
    margin: 0px 20px;
}

.btntop {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px;
    padding-bottom: 75px;
}

.btntop img {
    transform: rotate(90deg);
    margin-bottom: 20px;
    width: 35px;
}

button a {
    color: #FFFFFF;
    font-weight: 400;
}

button a {
    transition: all 0.3s ease 0s;
}

button a:hover {
    color: rgb(207, 207, 207);
}

#lightboxBg {
    position: fixed;
    z-index: 150;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(150, 150, 150, .6);
    backdrop-filter: blur(2px);
    display: none;
}

#lightboxBg.active {
    display: grid;
    place-items: center;
}

#lightboxImg {
    max-width: 70%;
    max-height: 70%;
    border: 4px solid white;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 3px 20px rgba(0,0,0,.5);
}

@media screen and (min-width: 280px) {

    .logo {
        width: 100px;
    }

    .header {
        width: 260px;
        margin-left: 20px;
    }

    .back {
        line-height: 1px;
    }

    .back img {
        width: 20px;
    }

    .back p {
        font-size: 12px;
    }

    .title {
        line-height: 22px;
        width: 260px;
    }

    .title h1 {
        font-size: 20px;
        width: 175px;
    }
    
    .title p {
        font-size: 12px;
        line-height: 2px;
    }

    .heroimg img {
        width: 90vw;
    }

    .synopsis {
        width: 80vw;
    }

    h2 {
        font-size: 18px;
        line-height: 20px;
        margin: 0px;
    }

    p {
        font-size: 12px;
    }

    .lofi {
        width: 80vw;
    }

    .lofiwire {
        width: 90vw;
        height: 50vw;
        justify-content: center;
    }

    .lofiwire img {
        width: 28%;
        height: auto;
        border-radius: 10px;
    }

    .hifi {
        width: 80vw;
    }

    .sitemap {
        flex-direction: column-reverse;
        padding-top: 10px;
    }

    .sitemap .desc {
        width: 80vw;
        padding: 0;
    }

    .persona img {
        width: 50vw;
        margin: 5px 0;
        border-radius: 10px;
    }

    .btntop {
        padding-bottom: 15px;
    }

    footer {
        position: relative;
        background-color: #134D17;
        bottom: 0;
        width: 80%;
        padding: 40px 10%;
        justify-content: center;
        align-items: center;
    }
    
    footer h3 {
        font-size: 16px;
        width: 162px;
        display: block;
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
    }
    
    footer .line {
        border-top: 3px solid #FFFFFF;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 116px;
    }
    
    footer .ftrmsg {
        height: 80%;
    }
    
    footer .jjlogo {
        width: 40px;
        height: auto;
        transform: translateX(-50%);
        left: 50%;
        position: absolute;
        margin-top: 50px;
    }
    
    footer .puzzle-logo {
        width: 60px;
        position: absolute;
        top: 20px;
        left: 50%;
        margin-left: -30px;
    }
    
    footer p {
        display: block;
        font-size: 12px;
        font-weight: 400;
        color: #FFFFFF;
        background-color: #134D17;
        margin-top: 50px;
        text-align: center;
    }
    
    footer h4 {
        text-align: center;
        font-size: 11px;
        width: 202px;
        left: 50%;
        margin-left: -101px;
        position: absolute;
        top: 100px;
    }
    
    footer div {
        display: flex;
        margin: 8px 0;
        float: none;
        justify-content: center;
    }
    
    footer .social-icons img {
        vertical-align: top;
        height: 25px;
        width: auto;
        margin: 0px 20px;
    }

    .btn {
        margin: 10px;
    }

    button {
        width: 130px;
        height: 40px;
        margin-top: 7px;
    }

    button a {
        font-size: 12px;
    }

    .gn-trigger {
        position: relative;
        width: 50px;
        height: 30px;
        border: none;
        outline: 0;
        background: transparent;
        -webkit-box-shadow: 0px 0px 0px 0px #000000; 
        box-shadow: 0px 0px 0px 0px #000000;
        cursor: pointer;
        margin-top: 0;
    }
    
    .burger {
        position: absolute;
        background: #134D17;
        border-radius: 5px;
        width: 40px;
        height: 5px;
        right: 0;
        top: 50%;
    }
    
    .burger:before,
    .burger:after {
        border-radius: 5px;
        content: '';
        display: block;
        position: absolute;
        background: #134D17;
        width: 40px;
        height: 5px;
        right: 0;
    }
    
    .burger:before {
        top: 11px;
    }
    
    .burger:after {
        bottom: 11px;
    }
    
    .burger,
    .burger:before,
    .burger:after {
        transition-property: transform, top, background;
        transition-duration: .35s;
    }
    
    .gn-trigger.is-active .burger:before {
        transform: rotate(45deg);
        top: -2px;
    }
    
    .gn-trigger.is-active .burger:after {
        transform: rotate(-45deg);
        top: -2px;
    }
    
    .gn-trigger.is-active .burger {
        background: rgba(117,111,102,0);
    }
    
    .gn {
        display: none;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background: #fff;
    }
    
    .gn li {
        font-size: 18px;
        border-bottom: 1px solid #134D17;
        display: block;
        width: 100%;
    }
    
    .gn a {
        padding: 15px 50px;
        display: block;
        
    }

    .gn li:last-child {
        box-shadow: -1px 4px 5px 0px rgba(71,71,71,.65);
        border: none;
    }

    .nav-links {
        padding-left: 0px;
        margin: 0;
    }

    .nav-links li {
        padding: 0px 0px;
    }
}

@media screen and (min-width: 375px) {

    .back img {
        width: 22px;
    }

    .back p {
        font-size: 14px;
    }

    .title h1 {
        font-size: 24px;
        line-height: 23px;
        width: 210px;
    }

    .title p {
        font-size: 14px;
    }

    h1 {
        font-size: 20px;
    }

    p {
        font-size: 14px;
    }

    .synopsis {
        width: 85vw;
    }

    .sitemap .desc {
        width: 85vw;
    }

    .lofi {
        width: 85vw;
    }

    .hifi {
        width: 85vw;
    }

    .btn {
        margin-top: 20px;
        margin-bottom: 60px;
    }

    button a {
        font-size: 14px;
    }

    button {
        width: 140px;
        height: 50px;
    }

    footer {
        width: 80%;
        padding: 40px 10%;
        justify-content: center;
        align-items: center;
    }
    
    footer h3 {
        font-size: 20px;
        width: 204px;
        display: block;
        margin-top: 75px;
        margin-left: auto;
        margin-right: auto;
    }
    
    footer .line {
        border-top: 3px solid #FFFFFF;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 160px;
    }
    
    footer .ftrmsg {
        height: 80%;
    }
    
    footer .jjlogo {
        width: 50px;
        height: auto;
        transform: translateX(-50%);
        left: 50%;
        position: absolute;
        margin-top: 68px;
    }
    
    footer .puzzle-logo {
        width: 70px;
        position: absolute;
        left: 50%;
        margin-left: -35px;
    }

    footer p {
        margin-top: 50px;
    }
    
    footer h4 {
        text-align: center;
        font-size: 14px;
        width: 270px;
        left: 50%;
        margin-top: 47px;
        margin-left: -135px;
        position: absolute;
        top: 100px;
    }
    
    footer div {
        margin: 20px 0;
        justify-content: center;
    }
    
    footer .social-icons img {
        height: 30px;
        margin: 0px 24px;
    }
}

@media screen and (min-width: 520px) {

    .li, a {
        font-size: 15px;
    }

    .gn a {
        padding: 30px 80px;
        display: block;
    }

    .back img {
        width: 24px;
    }

    .back p {
        font-size: 16px;
    }

    .header {
        margin-left: 5vw;
    }

    .title h1 {
        line-height: 23px;
        width: 210px;
    }

    .title p {
        font-size: 16px;
    }

    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 22px;
    }

    p {
        font-size: 16px;
    }

    .synopsis {
        width: 85vw;
    }

    .sitemap .desc {
        width: 85vw;
    }

    .lofi {
        width: 85vw;
    }

    .hifi {
        width: 85vw;
    }

    .btn {
        margin-top: 20px;
        margin-bottom: 60px;
    }

    button a {
        font-size: 14px;
    }

    button {
        width: 140px;
        height: 50px;
    }
}

@media screen and (min-width: 768px) {

    .logo {
        width: 125px;
    }

    header {
        padding: 30px 10%;
    }

    .nav-links {
        list-style: none;
        display: inline-flex;
    }
    
    .nav-links li {
        display: inline-block;
        padding: 0px 0px;
    }
    
    .nav-links li a {
        transition: all 0.3s ease 0s;
    }
    
    .nav-links li a:hover {
        color: #3F9949;
    }

    .gn li {
        font-size: 18px;
        border-style: none;
        display: block;
    }

    .gn-trigger {
        display: none;
    }
    
    .gn {
        display: flex;
        position: unset;
        width: 350px;
    }

    .gn a {
        padding: 0px 25px;
        margin: 0px 10px 0px;
        display: block;
    }

    .gn li:last-child {
        box-shadow: none;
    }

    .back img {
        width: 24px;
    }

    .back p {
        font-size: 16px;
    }

    .header {
        display: block;
        width: 730px;
        padding-left: 5vw;
        margin: 0 auto;
    }

    .title h1 {
        width: 410px;
    }

    .title p {
        font-size: 16px;
    }

    .heroimg img {
        width: 720px;
    }

    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 22px;
    }

    p {
        font-size: 16px;
    }

    .synopsis {
        width: 700px;
    }

    .sitemap {
        flex-direction: row;
    }

    .persona img {
        width: 300px;
        margin: 5px 0;
        border-radius: 20px;
        border: 6px solid #134D17;
    }

    .sitemap .desc {
        width: 350px;
        padding-left: 30px;
    }

    .lofi {
        width: 700px;
    }

    .lofiwire {
        width: 700px;
        height: auto;
        padding: 20px 0;
    }

    .lofiwire img {
        border-radius: 20px;
        border: 6px solid #134D17;
    }

    .hifi {
        width: 700px;
    }

    .btn {
        margin-top: 20px;
        margin-bottom: 60px;
    }

    button a {
        font-size: 14px;
    }

    button {
        width: 140px;
        height: 40px;
    }

    footer {
        position: relative;
        background-color: #134D17;
        bottom: 0;
        width: 80%;
        padding: 40px 10%;
        justify-content: center;
        align-items: center;
    }
    
    footer h3 {
        font-family: 'Libre Franklin', sans-serif;
        font-size: 30px;
        font-weight: 700;
        color: #FFFFFF;
        margin-left: 12%;
        display: inline;
    }
    
    footer .line {
        border-top: 5px solid #FFFFFF;
        width: 100%;
        margin-top: 8px;
    }
    
    footer .ftrmsg {
        height: 80%;
    }
    
    footer .jjlogo {
        height: 40px;
        width: auto;
        left: 75%;
        top: -41px;
        position: unset;
        margin-top: -13px;
        margin-right: 69px;
    }
    
    footer .puzzle-logo {
        width: 79px;
        position: absolute;
        top: 47px;
        left: 12vw;
    }
    
    footer p {
        display: block;
        background-color: #134D17;
        margin-top: 150px;
        font-size: 12px;
        text-align: left;
    }
    
    footer h4 {
        text-align: left;
        font-size: 14px;
        width: 220px;
        margin-left: -30%;
        top: 55px;
    }
    
    footer div {
        display: inline-flex;
        margin: 10px 0px;
        float: right;
    }
    
    footer .social-icons img {
        vertical-align: top;
        height: 30px;
        width: auto;
        margin: 0px 20px;
    }

}

@media screen and (min-width: 1366px) {

    .logo {
        width: 140px;
    }

    .header {
        width: 930px;
        padding-left: 0px;
    }

    .back img {
        width: 26px;
    }

    .back p {
        font-size: 18px;
    }

    .title h1 {
        width: 440px;
        font-size: 26px;
    }

    .title p {
        font-size: 18px;
    }

    .heroimg img {
        width: 900px;
    }

    h2 {
        font-size: 24px;
        line-height: 30px;
    }

    p {
        font-size: 18px;
    }

    .synopsis {
        width: 880px;
    }

    .persona img {
        width: 400px;
    }

    .persona .desc {
        width: 400px;
    }

    .persona .desc h2 {
        line-height: 200px;
    }

    .lofi {
        width: 880px;
    }

    .lofiwire {
        width: 880px;
    }

    .hifi {
        width: 880px;
    }

    footer h3 {
        font-size: 40px;
    }

    footer p {
        font-size: 14px;
        margin-left: 40px;
    }
    
    footer .line {
        border-top: 5px solid #FFFFFF;
        width: 95%;
        margin-top: 8px;
    }
    
    footer .jjlogo {
        height: 55px;
        width: auto;
        left: 75%;
        top: -41px;
        margin-top: -13px;
        margin-right: 57px;
    }
    
    footer .puzzle-logo {
        width: 100px;
        top: 53px;
        left: 14vw;
    }
    
    footer h4 {
        text-align: left;
        font-size: 18px;
        width: 530px;
        margin-left: -30%;
        top: 75px;
    }
    
    footer div {
        display: inline-flex;
        margin: 10px 0px;
        float: right;
    }
    
    footer .social-icons img {
        vertical-align: top;
        height: 30px;
        width: auto;
        margin: 0px 20px;
    }
}

@media screen and (min-width: 1920px) {

    .logo {
        width: 160px;
    }

    li, a {
        font-size: 20px;
    }

    .header {
        width: 1150px;
    }

    .back img {
        width: 28px;
    }

    .back p {
        font-size: 20px;
    }

    .title h1 {
        width: 500px;
        font-size: 28px;
    }

    .title p {
        font-size: 20px;
    }

    .heroimg img {
        width: 1100px;
    }

    h2 {
        font-size: 26px;
    }

    p {
        font-size: 20px;
    }

    .synopsis {
        width: 1050px;
    }

    .persona img {
        width: 500px;
        border: 7px solid #134D17;
    }

    .persona .desc {
        width: 500px;
    }

    .lofi {
        width: 1050px;
    }

    .lofiwire {
        width: 1050px;
    }

    .lofiwire img {
        border: 7px solid #134D17;
    }

    .hifi {
        width: 1050px;
    }

    button {
        width: 170px;
        height: 50px;
        margin-top: 20px;
    }

    button a {
        font-size: 18px;
    }

    .btntop {
        padding-bottom: 75px;
    }

    footer h3 {
        font-size: 45px;
    }

    footer p {
        font-size: 16px;
        margin-top: 200px;
        margin-left: 50px;
    }
    
    footer .line {
        border-top: 7px solid #FFFFFF;
        margin-top: 15px;
    }
    
    footer .jjlogo {
        height: 65px;
        width: auto;
        left: 75%;
        top: -41px;
        margin-top: -13px;
        margin-right: 85px;
    }
    
    footer .puzzle-logo {
        width: 121px;
        top: 60px;
        left: 14vw;
    }
    
    footer h4 {
        font-size: 22px;
        width: 645px;
        top: 100px;
    }
    
    footer .social-icons img {
        height: 40px;
        width: auto;
        margin: 0px 20px;
    }

    footer li, a {
        margin: 0px 7px;
    }
}